// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a i {
    font-size: 15px !important;
}

.vehicle-figure{
    max-height: 50px;
}
