<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Calendario do Veiculo</div>
                    <div class="card-body">
                        <div class="alert alert-info" v-if="response.length > 0">
                            <ul>
                                <li v-for="item in response">{{item}}</li>
                            </ul>
                        </div>
                        <div id="list" v-if="this.modo === 'list'">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img :src="this.vehicle.photo" class="img-fluid"/>
                                </div>
                                <div class="col-lg-6">
                                    <h5>Dados do Veículo</h5>
                                    <hr/>
                                    <ul v-if="this.vehicle.model != undefined">
                                        <li><b>Marca: </b> {{this.vehicle.model.brand.name}}</li>
                                        <li><b>Modelo: </b> {{this.vehicle.model.name}}</li>
                                        <li><b>Ano Modelo: </b> {{this.vehicle.model_year}}</li>
                                        <li><b>Placa: </b> {{this.vehicle.license_plate}}</li>
                                    </ul>
                                    <h5>Descrição</h5>
                                    <hr/>
                                    <p class="text-justify">{{this.vehicle.description}}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-success" v-on:click="AddBooking()">Adicionar Reserva</button>
                                    <hr/>
                                    <h5>Agendamentos</h5>
                                    <table class="table table-hover table-responsive-lg">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Inicio</th>
                                            <th scope="col">Fim</th>
                                            <th scope="col">Usuário</th>
                                            <th scope="col">Opções</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="vItem in vehicle.bookings">
                                            <th scope="row">{{vItem.id}}</th>
                                            <td>{{vItem.rent_start}}</td>
                                            <td>{{vItem.rent_end}}</td>
                                            <td>{{vItem.user.name}}</td>
                                            <td>
                                                <a v-on:click="EditBooking(vItem.id, vItem.vehicle_id, vItem.rent_start, vItem.rent_end, vItem.user_id)"
                                                   v-if="vItem.user_id == user.id || user.admin">
                                                    <i class="fas fa-edit"></i>
                                                </a> |
                                                <a v-on:click="RemoveBooking(vItem.id, vItem.vehicle_id)"
                                                   v-if="vItem.user_id == user.id || user.admin">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="edit" v-if="this.modo === 'edit'">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Editar Agendamento</h5>
                                    <hr/>
                                    <div class="form-group">
                                        <label for="rent_start_edit">Data de Inicio</label>
                                        <input type="date" class="form-control" id="rent_start_edit"
                                               v-model="bookingObj.rent_start" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="rent_end_edit">Data de Fim</label>
                                        <input type="date" class="form-control" id="rent_end_edit"
                                               v-model="bookingObj.rent_end" required>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-success" v-on:click="SaveBooking()">Editar Agendamento
                                        </button>
                                        <button class="btn btn-danger" v-on:click="ListBooking()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="add" v-if="this.modo === 'add'">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Registrar Agendamento</h5>
                                    <hr/>
                                    <div class="form-group">
                                        <label for="rent_start">Data de Inicio</label>
                                        <input type="date" class="form-control" id="rent_start"
                                               v-model="bookingObj.rent_start" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="rent_start">Data de Fim</label>
                                        <input type="date" class="form-control" id="rent_end"
                                               v-model="bookingObj.rent_end" required>
                                    </div>
                                    <div class="d-flex">
                                        <button class="btn btn-success" v-on:click="SaveBooking()">Cadastrar
                                            Agendamento
                                        </button>
                                        <button class="btn btn-danger" v-on:click="ListBooking()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VehicleReportComponent",
        props: ['p_vehicle', 'p_user'],
        data: function () {
            return {
                vehicle: '',
                modo: 'list',
                bookingObj: {
                    id: 0,
                    booking_id: 0,
                    vehicle_id: 0,
                    rent_start: '',
                    rent_end: '',
                    user_id: 0
                },
                response: [],
                user: ''
            }
        },
        methods: {
            RemoveBooking(id, vehicle_id) {
                this.response = [];
                this.bookingObj.id = id;
                this.vehicle_id = vehicle_id;
                axios.post('/booking/destroy/'+id, {
                        booking: this.bookingObj
                    }).then(response => {
                    this.response.push(response.data.status);
                    if(response.status == 200) {
                        this.vehicle.bookings = response.data.bookings;
                        this.ListBooking();
                    }
                }).catch(response => {
                    this.response.push(response);
                });
            },
            AddBooking() {
                this.response = [];
                this.modo = 'add';
                this.bookingObj.rent_end = '';
                this.bookingObj.rent_start = '';
            },
            EditBooking(id, vehicle_id, rent_start, rent_end, user_id) {
                this.response = [];
                this.bookingObj.id = id;
                this.bookingObj.rent_end = rent_start;
                this.bookingObj.rent_start = rent_end;
                this.bookingObj.user_id = user_id;
                this.vehicle_id = vehicle_id;
                this.modo = 'edit';
            },
            ListBooking() {
                this.modo = 'list';
            },
            SaveBooking() {
                this.response = [];
                if (this.modo == 'edit') {
                    axios.post('/booking/edit/'+this.bookingObj.id, {
                        booking: this.bookingObj
                    }).then(response => {
                        this.response.push(response.data.status);
                        if(response.status == 200) {
                            this.vehicle.bookings = response.data.bookings;
                            this.ListBooking();
                        }
                    }).catch(response => {
                        this.response.push(response);
                    });
                } else {
                    axios.post('/booking/create', {
                        booking: this.bookingObj
                    }).then(response => {
                        this.response.push(response.data.status);
                        if(response.status == 200) {
                            this.vehicle.bookings = response.data.bookings;
                            this.ListBooking();
                        }
                    }).catch(response => {
                        this.response.push(response);
                    });
                }
            }
        },
        mounted() {
            this.user = this.p_user;
            this.vehicle = this.p_vehicle;
            this.bookingObj.vehicle_id = this.vehicle.id;
            this.bookingObj.user_id = this.p_user.id;
        },
    }
</script>

<style scoped>

</style>
